vim/vim.symlink/.netrwhist
dotfiles.bbprojectd
ssh/ssh.symlink/deploy
ruby/bundle.symlink/cache
atom/atom.symlink/blob-store
vim/vim.symlink/pack
ssh/ssh.symlink/authorized_keys

# Anomali-specific ignores:
ssh/ssh.symlink/authorized_keys.jcorig
ssh/ssh.symlink/authorized_keys

# Brew ignores
homebrew/Brewfile-*.lock.json
