'global':
  'exception-reporting':
    'userId': '5392f155-a911-a1c0-cdd2-604cd7bf4ef0'
  'release-notes':
    'viewedVersion': '0.95.0'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'd96913c83b39b64e17220206b7c618adf83dbb33'
  'editor':
    'fontSize': 11
    'showIndentGuide': true
    'softWrapAtPreferredLineLength': true
    'softWrap': true
    'preferredLineLength': 120
    'tabLength': 4
    'softWrapped': true
    'invisibles': {}
  'core':
    'themes': [
      'atom-light-ui'
      'tomorrow'
    ]
    'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
    ]
    'useReactEditor': true
  'rspec':
    'command': 'bundle exec rspec'
  'cucumber-runner':
    'command': 'bundle exec cucumber'
  'rails-rspec': {}
'.js.rails.source source.jquery.js':
  'editor': {}
'.rails.rjs.ruby.source':
  'editor': {}
'.rails.ruby.source':
  'editor': {}
'.html.ruby.text':
  'editor': {}
'.erb.html.text':
  'editor':
    'tabLength': 2
'.ruby.source.sql':
  'editor': {}
'.rspec.ruby.source':
  'editor': {}
'.objc.source ++ *':
  'editor': {}
'.source.swift':
  'editor': {}
'.gfm.source':
  'editor': {}
'.litcoffee.source':
  'editor':
    'tabLength': 2
'.ruby.source':
  'editor':
    'tabLength': 2
'.shell.source':
  'editor':
    'tabLength': 2
'.objc.source':
  'editor': {}
'.source.strings':
  'editor': {}
'.coffee.source':
  'editor':
    'tabLength': 2
