packages: [
  "atom-beautify"
  "atom-mac-theme"
  "atom-prettify"
  "atom-runner"
  "autocomplete-paths"
  "autocomplete-plus"
  "autocomplete-snippets"
  "cucumber-runner"
  "file-types"
  "git-blame"
  "git-control"
  "git-grep"
  "git-log"
  "git-plus"
  "git-projects"
  "go-plus"
  "highlight-line"
  "highlight-selected"
  "language-rspec"
  "language-swift"
  "markdown-writer"
  "marked"
  "merge-conflicts"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-selection"
  "open-last-project"
  "open-terminal-here"
  "package-sync"
  "project-manager"
  "rails-rspec"
  "relative-numbers"
  "rspec"
  "Sublime-Style-Column-Selection"
  "swift-playground"
  "symbols-tree-view"
  "tomorrow"
  "tomorrow-syntax"
]
